<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
                <nav class="nav flex-column">
                    <a class="nav-link " routerLink="/panel-control/operaciones">Operaciones</a>    
                    <a class="nav-link " routerLink="/panel-control/transacciones">Transacciones</a>
                    <a class="nav-link " routerLink="/panel-control/criptomoneda">Criptomoneda</a>
                </nav>
        </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
</div>


